doctype html
html
  head
    title Welcoming (and training) with Fairies

    link(rel='stylesheet', href='styles.css')


  body(ng-app='FairyDemo', ng-controller='MainDemoController as demoController')

    .modal-backdrop.fade.in(ng-if='introModalShowing')
    .modal.fade.in(style='display: block', ng-if='introModalShowing')
      .modal-dialog(style='width: 780px')
        .modal-content
          .modal-body

            .container
              .jumbotron

                  h1 Guide Fairies
                  p.lead An in-app guide for AngularJS
                    ol
                      li helpful but ignorable (perfect!)
                      li deeply integrated with your UI but almost independent of your code (perfect!)

                  button.btn.btn-primary.btn-lg(ng-click='hideIntroModal()'
                                                guide-stop='showFeaturesButton'
                                                guide-on-fairy-tickle='hideIntroModal()'
                                                guide-fairy-class='fairy--read-on-button')
                    | See how

    .container

      .row
        .col-lg-12
          accordion(close-others='true')
            accordion-group(is-open='demoController.exampleStates[0].open')
              accordion-heading
                div(guide-stop='firstUsageExample',
                    guide-fairy-positioning='left',
                    guide-on-fairy-tickle='demoController.exampleStates[0].open = true')
                  | A simple fairy to welcome users and teach them to click fairies

              ng-include(src='"examples/simpleIntro.html"')

            accordion-group(is-open='demoController.exampleStates[1].open')
              accordion-heading A fairy with an explanation for a complex feature
              ng-include(src='"examples/explainFeature.html"')

            accordion-group(is-open='demoController.exampleStates[2].open')
              accordion-heading A set of fairies to form a visual checklist
              ng-include(src='"examples/visualChecklist.html"')

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')

    // include guide-fairies.js in your own app
    script(src='../dist/guide-fairies.js')

    // replace demoApp.js with your app
    script(src='js/demoApp.js')

    link(rel='stylesheet', href='https://google-code-prettify.googlecode.com/svn/loader/prettify.css')
    script(src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js")